{% extends "base_generic.html" %}

{% block content %}

<div class="row justify-content-between">
    <div class="col-sm-12 col-md-5 z-depth-2 alert-{% if zona.dentro %}danger{% else %}success{% endif %} seccion">

    <div class="col-3 col-md-2 iconSection z-depth-1 info-color-dark text-center">
        <i class="fa fa-book fa-2x white-text" aria-hidden="true"></i>
    </div>

    <div class="col-12 float-right text-center tituloEstadoAula">
        <h3 class="black-text">Estado del aula</h3>
    </div>
    <div class="col-sm-12 tituloEstadoAula">
        <p class="black-text">
            {% if zona.dentro %}
            El aula está <strong> ocupada </strong> en estos momentos.
            {% else %}
            El aula esá <strong>libre</strong> en estos momentos.
            {% endif %}
        </p>
    </div>

    </div>

    <div class="col-sm-12 col-md-5 z-depth-2 alert-info seccion">

        <div class="col-3 col-md-2 iconSection z-depth-1 info-color-dark text-center">
            <i class="fa fa-bookmark fa-2x white-text"></i>
        </div>

        <div class="col-12 float-right text-center tituloEstadoAula">
            <h3 class="black-text">Descripción del aula</h3>
        </div>
        <div class="col-sm-12 tituloEstadoAula">
            <p class="black-text">
                {{ zona.descripcion }}
            </p>
        </div>

    </div>
</div>

<div class="row z-depth-2 seccion">

    <div class="col-2 col-md-1 iconSection z-depth-1 primary-color-dark text-center">
        <i class="fa fa-microchip fa-2x white-text" aria-hidden="true"></i>
    </div>

    <div class="col-9 col-md-9 text-center">
        <h3 class="black-text mt-3">Dispositivo</h3>
    </div>

    <div class="col-sm-12">
        <h3 class="black-text">Lista de puertos:</h3>
    </div>

    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table black-text">
                <thead>
                    <tr>
                        <th scope="col-3">Nº de puerto</th>
                        <th scope="col-6">Descripción</th>
                        <th scope="col-3">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                        {% for puerto in zona.puerto_set.all %}
                        <tr>
                            <th scope="row" >{{ puerto.num_puerto }}</th>
                            <td>{{ puerto.descripcion }}</td>
                            <td>
                                <label class='switch {% if zona.dentro %} deshabilitado {% endif %}'>
                                    <input type='checkbox' id="{{zona.ip}}-{{puerto.num_puerto}}" value="{% if puerto.encendido %}1{% else %}0{% endif %}" urlval="{% url 'cambia' %}" name='check_list[]' class='asd'>
                                    <span class='{% if puerto.encendido  %} slider1 {% else %} slider0 {%endif %} round parajs'></span>
                                    <!-- slider0 es el estilo que indica que el puerto está apagado -->
                                    <!-- slider1 es el estilo que indica que el puerto está encendido -->
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block breadcrumn %}
<li class="breadcrumb-item active">Aula Nº {{zona.num_zona}}</li>
{% endblock %}

{% block jsscript %}
<script type="text/javascript">
 $(document).ready(function(){

     $('.asd').click(function(){
         if ($(this).val()== '1'){
             $(this).val('0');
         } else if ($(this).val()=='0'){
             $(this).val('1');
         }
     });

     $('.asd').click(function(){

         var aulaId = $(this).attr('id');
         var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
         var aulaId = aulaId.split('-')[0]; /*-- Identificador del aula (ip) --*/
         var numPuerto = $(this).attr('id').split('-')[1];/*-- Numero del puerto --*/
         var urlval = $(this).attr('urlval');/*-- url --*/
         var estado = $(this).val();/*-- Valor al que va acambier el puerto --*/

         $.ajax({
             url: urlval,
             type: 'POST',
             dataType: 'json',
             data:{
                 'aulaId': aulaId,
                 'numPuerto': numPuerto,
                 'estado': estado
             },
             headers: {
                 'X-Requested-With': 'XMLHttpRequest',
                 "X-CSRFToken": csrftoken,
             },
         });
     });
 });
</script>

{% endblock %}
