{% extends "base_generic.html" %}

{% block content %}

{% if zona_list %}
{% for zona in zona_list %}

<div class="row filaAula primary-color align-items-center justify-content-md-center z-depth-1 {% if zona.usuario_dentro and zona.usuario_dentro != request.user %} deshabilitado {% endif %}">
    <div class="col-md-2 col-sm-12"><span class="numAula z-depth-1">{{ zona.id_zona }}</span></div>
    <div class="col-md-10 col-sm-12 text-center text-truncate descripcionEstado">
        <p class="descripcionEstadoText">
            {{ zona.descripcion }}
        </p>
        <a href="{% url 'zona-detail' zona.id %}" class='btn btn-{% if zona.usuario_dentro == request.user %}info{% elif zona.usuario_dentro %}danger{% else %}success{% endif %} botonIr float-right'><i class='fa fa-caret-right' aria-hidden='true'></i></a><br/>
    </div>

</div>
{% endfor %}
{% else %}
<h1 class="black-text">No tienes aulas asignadas.</h1>
{% endif %}

{% block pagination %}

{% if is_paginated %}
<div class="pagination black-text">
    <span class="page-current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
    </span>
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><< Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente >></a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}

{% endblock %}
